<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Carousel</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    
    <main>
        <section id="app" class="container">


            <div  class="slider-wrapper">
                <div v-for="(item, i) in items" class="slider-item" :class="(activeIndex === i)? 'active': ' ' ">
                    <div class="slider-img"><img :src="item.immagine" :alt="item.titolo"></div>
                    <div class="text">
                        <h2>{{item.titolo}}</h2>
                        <p>{{item.descrizione}}</p>
                    </div>
                </div>

                


                <!-- <div class="slider-item active">
                <div class="slider-img"><img src="img/01.jpg" alt=""></div>

                <div class="text">
                    <h2>lorem</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aliquam error iure non odio fuga accusamus itaque saepe optio reiciendis.</p>
                </div> -->
            </div>
    
            <div class="controller-wrapper">
                

                <div v-for="(item, i) in items" class="controller-item active">
                    <img :src="item.immagine" :alt="item.titolo">
                </div>
                
                
                <!-- <div class="controller-item active">
                    <img src="img/01.jpg" alt="">
                </div>
                </div>-->
    
                <div @click="nextSlide()" class="btn up">&darr;</div>
                <div @click="prevSlide()" class="btn down">&uarr;</div> 
            </div>
          
        </section>
    </main>



    <script src="js/app_2.js"></script>
</body>
</html>